<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.squidpan.Alien" autowire="byType">
<!--        <constructor-arg name="lap" ref="lap1" />
        <constructor-arg name="age" value="21" />
-->
        <property name="age" value="21"></property>
        <property name="com" ref="com1"></property>
    </bean>

    <bean id="com1" class="com.squidpan.Laptop" primary="true">
    </bean>
    <bean id="com2" class="com.squidpan.Desktop" lazy-init="true">
    </bean>

</beans>